<a href="https://colab.research.google.com/github/zarrinan/DS-Unit-2-Sprint-4-Model-Validation/blob/master/module-1-begin-modeling-process/U2_S4_D1_Begin_Modeling_process_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install category_encoders

In [0]:
#imports
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd 
from sklearn.metrics import mean_absolute_error
from pandas.api.types import is_numeric_dtype    
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
import category_encoders as ce
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

In [0]:
#Silent Data Conversion Warnings
import warnings
from sklearn.exceptions import DataConversionWarning
warnings.filterwarnings(action='ignore', category=DataConversionWarning)

### NYC Weather Data - climatology baseline

In [0]:
url = 'https://raw.githubusercontent.com/zonination/weather-us/master/nyc.csv'
nyc_weather = pd.read_csv(url, parse_dates=['Date']).set_index('Date').drop(['Unnamed: 0', 'Max.Gust.SpeedMPH', 'Events'], axis=1)

In [25]:
nyc_weather.head()

,Max.TemperatureF,Mean.TemperatureF,Min.TemperatureF,Max.Dew.PointF,MeanDew.PointF,Min.DewpointF,Max.Humidity,Mean.Humidity,Min.Humidity,Max.Sea.Level.PressureIn,...,Max.VisibilityMiles,Mean.VisibilityMiles,Min.VisibilityMiles,Max.Wind.SpeedMPH,Mean.Wind.SpeedMPH,PrecipitationIn,CloudCover,WindDirDegrees.br...,city,season
Date,,,,,,,,,,,,,,,,,,,,,
1948-07-01,84,78.0,72,71,65,58,93,65,46,30.07,...,10.0,7.0,2.0,16,8,0.00,0.0,264<br />,New York City (USA),Summer
1948-07-02,82,72.0,63,62,53,49,76,51,33,30.20,...,15.0,14.0,10.0,16,10,0.00,0.0,315<br />,New York City (USA),Summer
1948-07-03,78,71.0,64,66,58,53,84,62,42,30.17,...,15.0,10.0,5.0,14,6,0.00,0.0,203<br />,New York City (USA),Summer
1948-07-04,84,76.0,68,68,63,56,90,67,38,30.13,...,15.0,7.0,2.0,12,5,0.00,0.0,198<br />,New York City (USA),Summer
1948-07-05,93,82.0,70,74,69,65,93,71,40,30.12,...,10.0,6.0,3.0,18,8,0.00,0.0,218<br />,New York City (USA),Summer

In [0]:
nyc_weather.isna().sum()

Over the years, the average daily low temperature in NYC is about 47F

In [16]:
nyc_weather['Min.TemperatureF'].mean()

47.29458469055375

The predicted temperature values deviate from the average by about 14 degrees on average

In [20]:
predicted = [nyc_weather['Min.TemperatureF'].mean()] * len(nyc_weather)
mean_absolute_error(nyc_weather['Min.TemperatureF'], predicted)

14.002022219731774

###NYC Weather - persistence baseline

In [28]:
nyc_weather['min_yesterdaty'] = nyc_weather['Min.TemperatureF'].shift(1)
nyc_weather.dropna(inplace=True)
mean_absolute_error(nyc_weather['Min.TemperatureF'], nyc_weather['min_yesterdaty'])

4.063232388217453

Yay! The baseline is off less by 10 degrees on average