<a href="https://colab.research.google.com/github/veritaem/DS-Unit-2-Sprint-4-Model-Validation/blob/master/day_2_sprint_4_unit_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#imports and installs

In [1]:
!pip install category_encoders

Requirement already satisfied: category_encoders in /usr/local/lib/python3.6/dist-packages (1.3.0)
Requirement already satisfied: scikit-learn>=0.17.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.20.2)
Requirement already satisfied: pandas>=0.20.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.22.0)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.8.0)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.1.0)
Requirement already satisfied: numpy>=1.11.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.14.6)
Requirement already satisfied: python-dateutil>=2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.20.1->category_encoders) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.20.1->category_encoders) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.4.1->category_encoders) (1.11.0)

In [2]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score, mean_squared_error, accuracy_score, classification_report, roc_auc_score, recall_score, precision_score
import category_encoders as ce
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_classification
from sklearn.linear_model import LogisticRegression
from mlxtend.plotting import plot_decision_regions
from sklearn.pipeline import make_pipeline
import seaborn as sns

In [4]:
df = pd.read_csv('bank-full.csv', sep = ';')
print(df.shape)
df.head()

(45211, 17)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

#pipeline

In [0]:
pipeline = make_pipeline(
                          ce.OneHotEncoder(use_cat_names = True),
                          StandardScaler(),
                          LogisticRegression())

# git a uh baseline

In [6]:
df.y.replace({'yes':1, 'no':0}, inplace = True)
df.y.mean()

0.11698480458295547

In [7]:
baseline = [df.y.mean()] * len(df)
mean_squared_error(df.y, baseline)

0.1032993600796432

In [8]:
df.isna().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [9]:
X = df.drop(['y'], axis = 1)
y = df.y
X_train, X_test, y_train, y_test = train_test_split(X, y)
majority_class = y_train.mode()[0]
y_pred = np.full(fill_value =majority_class, shape = y_test.shape)
accuracy_score(y_test, y_pred)

0.882951428824206

In [10]:
pipeline.fit(X_train, y_train)
y_pred = pipeline.predict(X_test)
accuracy_score(y_test, y_pred)

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:465: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)

0.9025037600636999

Ok... 88.61% and 90.46% for non pipelined and pipelined, respectively... thats gonna be hard to beat!

#making the model

In [11]:
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, shuffle = True)
X_train.shape, X_test.shape, X_val.shape, y_train.shape, y_test.shape, y_val.shape

((25431, 16), (11303, 16), (8477, 16), (25431,), (11303,), (8477,))

In [12]:
pipeline.fit(X_train, y_train)
y_pred = pipeline.predict(X_val)
accuracy_score(y_val, y_pred)

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:465: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)

0.9013802052612953

In [13]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,0
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,0
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,0
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,0
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,0

In [0]:
def three_way_split(
    X, y, shuffle = False, train_size = .75, test_size = .15,
    val_size = .1, random_state = None):
  
  assert train_size + val_size + test_size == 1
  
  X_train_val, X_test, y_train_val, y_test = train_test_split(
        X, y, test_size=test_size, random_state=random_state, shuffle=shuffle)
    
  X_train, X_val, y_train, y_val = train_test_split(
        X_train_val, y_train_val, test_size=val_size/(train_size+val_size), 
        random_state=random_state, shuffle=shuffle)
    
  return X_train, X_val, X_test, y_train, y_val, y_test

In [0]:
X.drop(['duration', 'contact', 'day'], axis = 1, inplace = True)

In [16]:
three_way_split(X,y)

(       age           job   marital  education default  balance housing loan  \
 0       58    management   married   tertiary      no     2143     yes   no
 1       44    technician    single  secondary      no       29     yes   no
 2       33  entrepreneur   married  secondary      no        2     yes  yes
 3       47   blue-collar   married    unknown      no     1506     yes   no
 4       33       unknown    single    unknown      no        1      no   no
 5       35    management   married   tertiary      no      231     yes   no
 6       28    management    single   tertiary      no      447     yes  yes
 7       42  entrepreneur  divorced   tertiary     yes        2     yes   no
 8       58       retired   married    primary      no      121     yes   no
 9       43    technician    single  secondary      no      593     yes   no
 10      41        admin.  divorced  secondary      no      270     yes   no
 11      29        admin.    single  secondary      no      390     yes   no
 12      53    technician   married  secondary      no        6     yes   no
 13      58    technician   married    unknown      no       71     yes   no
 14      57      services   married  secondary      no      162     yes   no
 15      51       retired   married    primary      no      229     yes   no
 16      45        admin.    single    unknown      no       13     yes   no
 17      57   blue-collar   married    primary      no       52     yes   no
 18      60       retired   married    primary      no       60     yes   no
 19      33      services   married  secondary      no        0     yes   no
 20      28   blue-collar   married  secondary      no      723     yes  yes
 21      56    management   married   tertiary      no      779     yes   no
 22      32   blue-collar    single    primary      no       23     yes  yes
 23      25      services   married  secondary      no       50     yes   no
 24      40       retired   married    primary      no        0     yes  yes
 25      44        admin.   married  secondary      no     -372     yes   no
 26      39    management    single   tertiary      no      255     yes   no
 27      52  entrepreneur   married  secondary      no      113     yes  yes
 28      46    management    single  secondary      no     -246     yes   no
 29      36    technician    single  secondary      no      265     yes  yes
 ...    ...           ...       ...        ...     ...      ...     ...  ...
 33877   47    technician   married  secondary      no     1167     yes   no
 33878   52    unemployed   married  secondary      no       49      no   no
 33879   52    management   married   tertiary      no      193      no   no
 33880   28    technician    single  secondary      no      113      no   no
 33881   38    management   married   tertiary      no        0     yes   no
 33882   29       student    single  secondary      no       78      no   no
 33883   41    management   married   tertiary      no     2767      no   no
 33884   36    unemployed    single   tertiary      no     1291      no   no
 33885   55       retired   married  secondary      no     6690      no   no
 33886   58       retired   married   tertiary      no     1425      no   no
 33887   31    technician   married   tertiary      no     3382      no   no
 33888   51     housemaid   married    primary      no      618     yes  yes
 33889   30      services    single   tertiary      no      803      no   no
 33890   59       retired  divorced  secondary      no     5583     yes   no
 33891   48        admin.   married  secondary      no      344      no   no
 33892   27    management    single   tertiary      no      828      no   no
 33893   59       retired   married    unknown      no     1116      no   no
 33894   47   blue-collar   married  secondary      no     1230     yes   no
 33895   26       student    single    unknown      no       19      no   no
 33896   31    technician    single  secondary      no     4105      no   no
 33897   36        admin.   married  secondary      no       96      no   no
 33898   33    management   married   tertiary      no      158      no   no
 33899   39    technician  divorced  secondary      no        0     yes  yes
 33900   34       student   married    unknown      no     1387      no   no
 33901   42      services    single  secondary      no     3403     yes   no
 33902   45    management   married   tertiary      no      160      no   no
 33903   49    technician   married  secondary      no      305      no   no
 33904   43        admin.   married   tertiary      no      279     yes   no
 33905   28    management    single   tertiary      no      320     yes   no
 33906   27       student    single   tertiary      no     1390      no   no

       month  campaign  pdays  previous poutcome
 0       may         1     -1         0  unknown
 1       may         1     -1         0  unknown
 2       may         1     -1         0  unknown
 3       may         1     -1         0  unknown
 4       may         1     -1         0  unknown
 5       may         1     -1         0  unknown
 6       may         1     -1         0  unknown
 7       may         1     -1         0  unknown
 8       may         1     -1         0  unknown
 9       may         1     -1         0  unknown
 10      may         1     -1         0  unknown
 11      may         1     -1         0  unknown
 12      may         1     -1         0  unknown
 13      may         1     -1         0  unknown
 14      may         1     -1         0  unknown
 15      may         1     -1         0  unknown
 16      may         1     -1         0  unknown
 17      may         1     -1         0  unknown
 18      may         1     -1         0  unknown
 19      may         1     -1         0  unknown
 20      may         1     -1         0  unknown
 21      may         1     -1         0  unknown
 22      may         1     -1         0  unknown
 23      may         1     -1         0  unknown
 24      may         1     -1         0  unknown
 25      may         1     -1         0  unknown
 26      may         1     -1         0  unknown
 27      may         1     -1         0  unknown
 28      may         2     -1         0  unknown
 29      may         1     -1         0  unknown
 ...     ...       ...    ...       ...      ...
 33877   apr         1     87         5  failure
 33878   apr         1     -1         0  unknown
 33879   apr         1    269         1  failure
 33880   apr         1     -1         0  unknown
 33881   apr         1     -1         0  unknown
 33882   apr         1     -1         0  unknown
 33883   apr         1     -1         0  unknown
 33884   apr         1     86         1  success
 33885   apr         1     -1         0  unknown
 33886   apr         1     -1         0  unknown
 33887   apr         1     -1         0  unknown
 33888   apr         1     85         1  failure
 33889   apr         1     -1         0  unknown
 33890   apr         1     -1         0  unknown
 33891   apr         1     86         2    other
 33892   apr         1     -1         0  unknown
 33893   apr         1     -1         0  unknown
 33894   apr         1    169         1  success
 33895   apr         1     -1         0  unknown
 33896   apr         1     -1         0  unknown
 33897   apr         1     87         1  success
 33898   apr         2     83         2  success
 33899   apr         1     -1         0  unknown
 33900   apr         1     -1         0  unknown
 33901   apr         1     -1         0  unknown
 33902   apr         1     -1         0  unknown
 33903   apr         1     -1         0  unknown
 33904   apr         1    164         1  failure
 33905   apr         1     -1         0  unknown
 33906   apr         1     -1         0  unknown

 [33907 rows x 13 columns],
        age            job   marital  education default  balance housing loan  \
 33907   21        student    single  secondary      no      224      no   no
 33908   23        student    single  secondary      no        0      no   no
 33909   47    blue-collar   married  secondary      no     1730     yes   no
 33910   26        student    single  secondary      no      480      no   no
 33911   29     management    single   tertiary      no      697      no   no
 33912   25     management    single   tertiary      no      943      no   no
 33913   60      housemaid   married    primary      no     1163      no   no
 33914   37     technician   married  secondary      no     1458      no   no
 33915   42     technician    single    unknown      no    11115      no   no
 33916   59     management   married   tertiary      no     1729      no   no
 33917   49         admin.   married  secondary      no     3608     yes   no
 33918   33         admin.   married  secondary      no       95     yes   no
 33919   59     technician   married  secondary      no     2308      no   no
 33920   58     management  divorced   tertiary      no     5701      no   no
 33921   44    blue-collar   married    unknown      no     1529     yes   no
 33922   48    blue-collar   married  secondary      no      292      no   no
 33923   33        student    single    unknown      no     5969      no   no
 33924   29     management    single   tertiary      no     7345      no   no
 33925   30     technician   married   tertiary      no      606     yes   no
 33926   48     unemployed   married  secondary      no    11371     yes   no
 33927   34  self-employed   married    primary      no     7468     yes  yes
 33928   32         admin.   married  secondary      no        0     yes   no
 33929   42     technician   married    unknown      no     1559      no   no
 33930   54         admin.  divorced  secondary      no     1693      no   no
 33931   42     technician   married   tertiary      no      757      no   no
 33932   36     management   married   tertiary      no     -547     yes   no
 33933   42    blue-collar   married    primary      no      201     yes   no
 33934   33     management   married   tertiary      no     1122      no   no
 33935   27         admin.    single   tertiary      no      662      no   no
 33936   32       services   married  secondary      no      580     yes   no
 ...    ...            ...       ...        ...     ...      ...     ...  ...
 38399   32     management    single   tertiary      no      435     yes  yes
 38400   29    blue-collar    single    primary      no      722     yes   no
 38401   49  self-employed   married  secondary      no      505     yes   no
 38402   32         admin.    single  secondary      no     6042     yes   no
 38403   42    blue-collar   married  secondary      no      505     yes   no
 38404   55       services   married    primary      no     -747     yes   no
 38405   49         admin.  divorced  secondary      no      132     yes   no
 38406   26     technician    single  secondary      no      626     yes   no
 38407   30     management    single   tertiary      no     1692     yes   no
 38408   29    blue-collar   married  secondary      no       47     yes  yes
 38409   54     unemployed   married  secondary      no      582     yes   no
 38410   29        student    single   tertiary      no       80     yes   no
 38411   34         admin.    single  secondary      no     6979     yes   no
 38412   25    blue-collar    single   tertiary      no     1395     yes   no
 38413   26       services    single  secondary      no      212     yes   no
 38414   31    blue-collar    single  secondary      no      210     yes  yes
 38415   51     management  divorced   tertiary      no     -227     yes   no
 38416   34     management   married  secondary      no     -285     yes   no
 38417   34     technician    single  secondary      no      194     yes  yes
 38418   27       services    single  secondary      no      353     yes   no
 38419   28        student    single  secondary      no      217     yes   no
 38420   32    blue-collar   married    primary      no      252     yes   no
 38421   23       services   married  secondary      no     2211     yes   no
 38422   42    blue-collar  divorced  secondary      no      198      no   no
 38423   26        student    single  secondary      no     2138     yes   no
 38424   39         admin.   married  secondary      no     -650      no   no
 38425   29     technician    single   tertiary      no      226     yes   no
 38426   52    blue-collar   married    primary      no      134     yes   no
 38427   36         admin.   married  secondary      no     1479      no   no
 38428   28       services    single  secondary      no      341     yes   no

       month  campaign  pdays  previous poutcome
 33907   apr         1     -1         0  unknown
 33908   apr         1     83         6  success
 33909   apr         1     -1         0  unknown
 33910   apr         1     -1         0  unknown
 33911   apr         1     85         1  success
 33912   apr         1     -1         0  unknown
 33913   apr         8     -1         0  unknown
 33914   apr         1     -1         0  unknown
 33915   apr         1     -1         0  unknown
 33916   apr         1     -1         0  unknown
 33917   apr         1    168         1  success
 33918   apr         1     -1         0  unknown
 33919   apr         1     87         1    other
 33920   apr         1     87         1  success
 33921   apr         1     -1         0  unknown
 33922   apr         1     79         1  success
 33923   apr         1     83         7  failure
 33924   apr         1     -1         0  unknown
 33925   apr         1     -1         0  unknown
 33926   apr         1     86         3  failure
 33927   apr         1     -1         0  unknown
 33928   apr         2     -1         0  unknown
 33929   apr         1     -1         0  unknown
 33930   apr         1     87         2    other
 33931   apr         1     79         1  success
 33932   apr         1    259         2  failure
 33933   apr         1     85         2  failure
 33934   apr        10     -1         0  unknown
 33935   apr         1     -1         0  unknown
 33936   apr         1     -1         0  unknown
 ...     ...       ...    ...       ...      ...
 38399   may         3     -1         0  unknown
 38400   may         1    359         1  failure
 38401   may         2     -1         0  unknown
 38402   may         1    361         1  failure
 38403   may         1     -1         0  unknown
 38404   may         7     -1         0  unknown
 38405   may         1    350         1  failure
 38406   may         2     -1         0  unknown
 38407   may         1     -1         0  unknown
 38408   may         1     -1         0  unknown
 38409   may         5    372         2  failure
 38410   may         5    361         1  failure
 38411   may         5     -1         0  unknown
 38412   may         1     -1         0  unknown
 38413   may         2    352         1    other
 38414   may         1     -1         0  unknown
 38415   may         1     -1         0  unknown
 38416   may         1    276         3  failure
 38417   may         1     -1         0  unknown
 38418   may         1     -1         0  unknown
 38419   may         2    372         1  failure
 38420   may         1     -1         0  unknown
 38421   may         2     -1         0  unknown
 38422   may         1     -1         0  unknown
 38423   may         8    371         1    other
 38424   may         2    364         1  failure
 38425   may         1     -1         0  unknown
 38426   may         2    295         3  failure
 38427   may         2     -1         0  unknown
 38428   may         3    347         3    other

 [4522 rows x 13 columns],
        age            job   marital  education default  balance housing loan  \
 38429   37       services    single  secondary      no     1175     yes   no
 38430   29    blue-collar   married  secondary      no      339     yes   no
 38431   41  self-employed   married   tertiary      no     6000     yes   no
 38432   29     management    single   tertiary      no     1388     yes   no
 38433   32    blue-collar   married    primary      no     2198      no   no
 38434   39   entrepreneur   married   tertiary     yes     -172     yes   no
 38435   37    blue-collar   married    primary      no     -212     yes   no
 38436   30     technician   married    primary      no       95     yes   no
 38437   39     technician    single  secondary      no       12     yes   no
 38438   27    blue-collar    single    unknown      no      -15     yes  yes
 38439   41         admin.    single  secondary      no     2002     yes   no
 38440   32       services   married  secondary      no      118     yes   no
 38441   58    blue-collar   married    primary      no     5431     yes  yes
 38442   41         admin.  divorced  secondary      no     2550     yes   no
 38443   40         admin.   married  secondary      no      438     yes   no
 38444   28    blue-collar   married  secondary      no     2257     yes   no
 38445   21        student    single  secondary      no      126     yes   no
 38446   31         admin.   married  secondary      no      728     yes  yes
 38447   30       services    single   tertiary      no      717     yes  yes
 38448   34       services    single  secondary      no     4062     yes  yes
 38449   60        retired  divorced  secondary      no     -639     yes   no
 38450   27         admin.    single   tertiary      no      144     yes   no
 38451   23         admin.    single  secondary      no      252     yes   no
 38452   22         admin.    single  secondary      no      118     yes   no
 38453   28         admin.    single  secondary      no     -215     yes   no
 38454   25         admin.    single   tertiary      no     1056     yes   no
 38455   52    blue-collar   married    primary      no     2396     yes   no
 38456   32       services   married  secondary      no     3268      no   no
 38457   33       services  divorced  secondary      no     2411     yes   no
 38458   41    blue-collar   married  secondary      no       49     yes   no
 ...    ...            ...       ...        ...     ...      ...     ...  ...
 45181   46    blue-collar   married  secondary      no     6879      no   no
 45182   34     technician   married  secondary      no      133      no   no
 45183   70        retired   married    primary      no      324      no   no
 45184   63        retired   married  secondary      no     1495      no   no
 45185   60       services   married   tertiary      no     4256     yes   no
 45186   59        unknown   married    unknown      no     1500      no   no
 45187   32       services    single  secondary      no     1168     yes   no
 45188   29     management    single  secondary      no      703     yes   no
 45189   25       services    single  secondary      no      199      no   no
 45190   32    blue-collar   married  secondary      no      136      no   no
 45191   75        retired  divorced   tertiary      no     3810     yes   no
 45192   29     management    single   tertiary      no      765      no   no
 45193   28  self-employed    single   tertiary      no      159      no   no
 45194   59     management   married   tertiary      no      138     yes  yes
 45195   68        retired   married  secondary      no     1146      no   no
 45196   25        student    single  secondary      no      358      no   no
 45197   36     management    single  secondary      no     1511     yes   no
 45198   37     management   married   tertiary      no     1428      no   no
 45199   34    blue-collar    single  secondary      no     1475     yes   no
 45200   38     technician   married  secondary      no      557     yes   no
 45201   53     management   married   tertiary      no      583      no   no
 45202   34         admin.    single  secondary      no      557      no   no

In [17]:
pipeline.fit(X_train, y_train)
y_pred = pipeline.predict(X_val)
print(accuracy_score(y_val, y_pred))

pipeline.fit(X_train, y_train)
y_pred = pipeline.predict(X_test)
print(accuracy_score(y_test, y_pred))

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:465: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)

0.9013802052612953

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:465: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.9024152879766434

/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)

ok no dice... time to reencode all this stuff i guess

In [18]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,0
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,0
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,0
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,0
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,0

In [19]:
df['age'].min()

18

In [20]:
df['age'].max()

95

In [21]:
dur_bins = [0, 60, 120, 240, 480, 960, 1800, 3600, 100000]
dur_labels = ['<1min', '<2mins', '<4mins', '<8 mins', '<16mins', 'half hour', 'hour', 'hour+']

df['dur_bins'] = pd.cut(df['duration'], bins = dur_bins, labels = dur_labels)
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,dur_bins
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,0,<8 mins
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,0,<4mins
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,0,<2mins
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,0,<2mins
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,0,<4mins

In [22]:
age_bins = [18, 25, 35, 45, 55, 65, 100]
age_labels = ['18-25', '25-35', '35-45', '45-55', '55-65', '65+']

df['age bins'] = pd.cut(df['age'], bins =age_bins, labels = age_labels)
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,dur_bins,age bins
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,0,<8 mins,55-65
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,0,<4mins,35-45
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,0,<2mins,25-35
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,0,<2mins,45-55
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,0,<4mins,25-35

In [23]:
df['poutcome'].unique()

array(['unknown', 'failure', 'other', 'success'], dtype=object)

In [0]:
X = df.drop(['duration', 'contact', 'day', 'age', 'duration', 'y'], axis = 1)

In [25]:
three_way_split(X,y)
pipeline.fit(X_train, y_train)
y_pred = pipeline.predict(X_val)
print(accuracy_score(y_val, y_pred))
pipeline.fit(X_train, y_train)
y_pred = pipeline.predict(X_test)
print(accuracy_score(y_test, y_pred))

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:465: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)

0.9013802052612953

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:465: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.9024152879766434

/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)

In [0]:
samples = df.sample(325, random_state = 43)
sampX = samples.drop(['y', 'age', 'duration', 'contact', 'duration'], axis = 1)
sampy = samples['y']

In [27]:
print(classification_report(y_val, y_pred))
print('accuracy', accuracy_score(y_val, y_pred))

ValueError: ignored