<a href="https://colab.research.google.com/github/donaldocelaj/DS-Unit-2-Sprint-4-Model-Validation/blob/master/Kaggle%20submission.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!wget https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Sprint-4-Model-Validation/master/module-1-begin-modeling-process/bank-marketing/train_features.csv
!wget https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Sprint-4-Model-Validation/master/module-1-begin-modeling-process/bank-marketing/train_labels.csv
!wget https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Sprint-4-Model-Validation/master/module-1-begin-modeling-process/bank-marketing/test_features.csv
!wget https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Sprint-4-Model-Validation/master/module-1-begin-modeling-process/bank-marketing/sample_submission.csv

--2019-03-06 00:37:42--  https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Sprint-4-Model-Validation/master/module-1-begin-modeling-process/bank-marketing/train_features.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3833210 (3.7M) [text/plain]
Saving to: ‘train_features.csv.1’

train_features.csv. 100%[===================>]   3.66M  --.-KB/s    in 0.1s

2019-03-06 00:37:42 (34.7 MB/s) - ‘train_features.csv.1’ saved [3833210/3833210]

--2019-03-06 00:37:43--  https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Sprint-4-Model-Validation/master/module-1-begin-modeling-process/bank-marketing/train_labels.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 247133 (241K) [text/plain]
Saving to: ‘train_labels.csv.1’

train_labels.csv.1  100%[===================>] 241.34K  --.-KB/s    in 0.05s

2019-03-06 00:37:43 (4.64 MB/s) - ‘train_labels.csv.1’ saved [247133/247133]

--2019-03-06 00:37:43--  https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Sprint-4-Model-Validation/master/module-1-begin-modeling-process/bank-marketing/test_features.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1277012 (1.2M) [text/plain]
Saving to: ‘test_features.csv.1’

test_features.csv.1 100%[===================>]   1.22M  --.-KB/s    in 0.08s

2019-03-06 00:37:43 (15.8 MB/s) - ‘test_features.csv.1’ saved [1277012/1277012]

--2019-03-06 00:37:44--  https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Sprint-4-Model-Validation/master/module-1-begin-modeling-process/bank-marketing/sample_submission.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 102975 (101K) [text/plain]
Saving to: ‘sample_submission.csv.1’

sample_submission.c 100%[===================>] 100.56K  --.-KB/s    in 0.04s

2019-03-06 00:37:44 (2.65 MB/s) - ‘sample_submission.csv.1’ saved [102975/102975]

In [0]:
import pandas as pd
import numpy as np

In [0]:
train_features = pd.read_csv('train_features.csv')
train_labels = pd.read_csv('train_labels.csv')
test_features = pd.read_csv('test_features.csv')
sample_submission = pd.read_csv('sample_submission.csv')

In [4]:
train_features.shape, train_labels.shape, test_features.shape, sample_submission.shape

((30891, 20), (30891, 2), (10297, 20), (10297, 2))

In [0]:
y_train = train_labels['y']
X_train = train_features.drop(columns='id')
X_test  = test_features.drop(columns='id')

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train)
X_train.shape, X_val.shape, y_train.shape, y_val.shape

((23168, 19), (7723, 19), (23168,), (7723,))

In [7]:
y_train.value_counts(normalize=True)

0    0.88851
1    0.11149
Name: y, dtype: float64

In [0]:
majority_class = 0
y_pred = [majority_class] * len(y_val)

In [9]:
from sklearn.metrics import accuracy_score
accuracy_score(y_val, y_pred)

0.8838534248349087

In [10]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_val, y_pred)

0.5

In [11]:
X_train.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
dtype: int64

In [12]:
X_train.describe(include=np.number)

,age,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,23168.000000,23168.000000,23168.000000,23168.000000,23168.000000,23168.000000,23168.000000,23168.000000,23168.000000
mean,40.020416,2.555853,961.585247,0.172652,0.085691,93.578065,-40.514865,3.621993,5167.011641
std,10.434203,2.753116,189.082979,0.493205,1.568024,0.578210,4.615322,1.734875,72.483479
min,17.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,32.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,38.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,98.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

In [13]:

X_train.describe(exclude=np.number)

,job,marital,education,default,housing,loan,contact,month,day_of_week,poutcome
count,23168,23168,23168,23168,23168,23168,23168,23168,23168,23168
unique,12,4,8,3,3,3,2,10,5,3
top,admin.,married,university.degree,no,yes,no,cellular,may,thu,nonexistent
freq,5875,14049,6839,18344,12086,19057,14663,7741,4808,19995

In [0]:
X_train_numeric = X_train.select_dtypes(np.number)
X_val_numeric = X_val.select_dtypes(np.number)

In [15]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='lbfgs', max_iter=1000)
model.fit(X_train_numeric, y_train)

y_pred = model.predict(X_val_numeric)
roc_auc_score(y_val, y_pred)

0.5904546881374612

In [16]:
from sklearn.exceptions import DataConversionWarning
from sklearn.preprocessing import StandardScaler
import warnings
warnings.filterwarnings(action='ignore', category=DataConversionWarning)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_numeric)
X_val_scaled = scaler.transform(X_val_numeric)

model = LogisticRegression(solver='lbfgs', max_iter=1000)
model.fit(X_train_numeric, y_train)

y_pred = model.predict(X_val_scaled)
roc_auc_score(y_val, y_pred)

0.5736981460812338

In [17]:
from sklearn.pipeline import make_pipeline

pipeline = make_pipeline(
    StandardScaler(), 
    LogisticRegression(solver='lbfgs', max_iter=1000)
)

pipeline.fit(X_train_numeric, y_train)

y_pred = pipeline.predict(X_val_numeric)
roc_auc_score(y_val, y_pred)

0.5896328582987012

In [18]:
!pip install category_encoders

Requirement already satisfied: category_encoders in /usr/local/lib/python3.6/dist-packages (1.3.0)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.1.0)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: pandas>=0.20.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.22.0)
Requirement already satisfied: scikit-learn>=0.17.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.20.3)
Requirement already satisfied: numpy>=1.11.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.14.6)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.8.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.4.1->category_encoders) (1.11.0)
Requirement already satisfied: python-dateutil>=2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.20.1->category_encoders) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.20.1->category_encoders) (2018.9)

In [19]:
import category_encoders as ce

pipeline = make_pipeline(
    ce.OneHotEncoder(use_cat_names=True), 
    StandardScaler(), 
    LogisticRegression(solver='lbfgs', max_iter=1000)
)

pipeline.fit(X_train, y_train)

y_pred = pipeline.predict(X_val)
roc_auc_score(y_val, y_pred)

0.6024855453001035

In [20]:
X_train.select_dtypes(exclude=np.number).nunique()

job            12
marital         4
education       8
default         3
housing         3
loan            3
contact         2
month          10
day_of_week     5
poutcome        3
dtype: int64

In [21]:
pipeline.predict_proba(X_test)[:, 1:]

array([[0.90239923, 0.09760077],
       [0.93215142, 0.06784858],
       [0.58709862, 0.41290138],
       ...,
       [0.92842536, 0.07157464],
       [0.98283286, 0.01716714],
       [0.95949191, 0.04050809]])

In [0]:
submission = sample_submission.copy()
submission['y'] = pipeline.predict_proba(X_test) [:, 1:]

In [247]:
submission['y']

0        0.097601
1        0.067849
2        0.412901
3        0.058765
4        0.077076
5        0.060358
6        0.059377
7        0.063138
8        0.052815
9        0.069601
10       0.321191
11       0.065720
12       0.036068
13       0.060681
14       0.033399
15       0.081257
16       0.377913
17       0.100173
18       0.045970
19       0.086680
20       0.179862
21       0.076917
22       0.042487
23       0.026382
24       0.037401
25       0.044720
26       0.846400
27       0.085699
28       0.054220
29       0.070614
           ...
10267    0.203313
10268    0.027642
10269    0.063106
10270    0.044660
10271    0.163506
10272    0.142132
10273    0.054633
10274    0.030076
10275    0.043040
10276    0.023607
10277    0.215565
10278    0.038621
10279    0.030437
10280    0.044224
10281    0.043565
10282    0.083335
10283    0.083711
10284    0.034367
10285    0.038554
10286    0.063635
10287    0.034428
10288    0.061998
10289    0.053972
10290    0.030991
10291    0.118232
10292    0.028593
10293    0.041880
10294    0.071575
10295    0.017167
10296    0.040508
Name: y, Length: 10297, dtype: float64

In [0]:
submission.to_csv('Donaldo_Celaj.csv', index=False)

In [0]:
from google.colab import drive

In [27]:
drive.mount('drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at drive

In [0]:
!cp Donaldo_Celaj.csv drive/My\ Drive/

In [40]:
sample_submission.head(10)

      id    y
0  12668  0.5
1  44327  0.5
2  26675  0.5
3  11771  0.5
4  38173  0.5
5  39585  0.5
6  41627  0.5
7  20123  0.5
8  18696  0.5
9  31843  0.5

In [31]:
train_features.head(10)

,id,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,20591,29,services,single,high.school,no,yes,yes,cellular,may,thu,10,999,0,nonexistent,-1.8,92.893,-46.2,1.266,5099.1
1,18343,54,management,married,university.degree,no,no,no,cellular,nov,tue,1,999,1,failure,-0.1,93.200,-42.0,4.153,5195.8
2,32826,55,self-employed,married,unknown,unknown,no,no,cellular,jul,mon,3,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1
3,29780,43,blue-collar,married,unknown,unknown,no,no,cellular,may,mon,6,999,0,nonexistent,-1.8,92.893,-46.2,1.244,5099.1
4,40736,54,blue-collar,married,basic.4y,no,yes,no,telephone,may,wed,5,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0
5,10874,55,admin.,married,high.school,no,no,no,cellular,dec,fri,2,999,0,nonexistent,-3.0,92.713,-33.0,0.718,5023.5
6,31365,54,technician,married,university.degree,unknown,no,yes,telephone,may,mon,7,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
7,35401,34,admin.,single,university.degree,no,yes,no,cellular,apr,tue,1,999,0,nonexistent,-1.8,93.075,-47.1,1.423,5099.1
8,48167,60,technician,married,university.degree,no,yes,no,telephone,mar,mon,1,999,0,nonexistent,-1.8,93.369,-34.8,0.655,5008.7
9,21426,33,technician,married,professional.course,no,no,no,cellular,sep,wed,1,999,0,nonexistent,-1.1,94.199,-37.5,0.879,4963.6

In [256]:
train_labels.head(10)

      id  y
0  20591  0
1  18343  0
2  32826  0
3  29780  0
4  40736  0
5  10874  0
6  31365  0
7  35401  0
8  48167  0
9  21426  1

In [422]:
test_features.head(20)

,id,age,job,marital,education,default,housing,loan,contact,month,...,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,lnage,cs^2
0,12668,41,blue-collar,single,basic.9y,no,yes,no,cellular,may,...,999,0,nonexistent,-1.8,92.893,-46.2,1.334,5099.1,3.713572,8629.109449
1,44327,31,services,divorced,high.school,no,yes,no,cellular,nov,...,999,0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,3.433987,8686.240000
2,26675,56,admin.,married,basic.9y,no,no,no,cellular,oct,...,999,0,nonexistent,-3.4,92.431,-26.9,0.742,5017.5,4.025352,8543.489761
3,11771,32,blue-collar,single,university.degree,no,no,no,telephone,jun,...,999,0,nonexistent,1.4,94.465,-41.8,4.864,5228.1,3.465736,8923.636225
4,38173,32,blue-collar,married,high.school,no,yes,no,cellular,nov,...,999,0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8,3.465736,8686.240000
5,39585,36,admin.,single,university.degree,no,yes,no,cellular,aug,...,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,3.583519,8731.781136
6,41627,45,management,married,unknown,unknown,no,no,cellular,jul,...,999,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,3.806662,8820.590724
7,20123,48,services,married,high.school,unknown,no,no,cellular,jul,...,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,3.871201,8820.590724
8,18696,54,admin.,married,basic.9y,no,yes,yes,cellular,nov,...,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,3.988984,8686.240000
9,31843,35,unemployed,single,basic.6y,unknown,yes,no,cellular,nov,...,999,0,nonexistent,-0.1,93.200,-42.0,4.153,5195.8,3.555348,8686.240000
10,25478,45,technician,divorced,university.degree,no,no,no,cellular,jun,...,999,0,nonexistent,-2.9,92.963,-40.8,1.099,5076.2,3.806662,8642.119369
11,10902,52,technician,married,basic.9y,no,yes,no,cellular,nov,...,999,0,nonexistent,-0.1,93.200,-42.0,4.153,5195.8,3.951244,8686.240000
12,28423,47,management,divorced,university.degree,no,no,no,telephone,nov,...,999,0,nonexistent,-0.1,93.200,-42.0,4.343,5195.8,3.850148,8686.240000
13,26012,34,technician,single,high.school,no,no,no,cellular,aug,...,999,0,nonexistent,1.4,93.444,-36.1,4.964,5228.1,3.526361,8731.781136
14,29009,32,blue-collar,married,professional.course,no,no,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,3.465736,8834.872036
15,15911,60,retired,married,university.degree,no,no,no,cellular,aug,...,999,0,nonexistent,1.4,93.444,-36.1,4.964,5228.1,4.094345,8731.781136
16,50803,22,student,single,unknown,no,no,no,cellular,jun,...,999,0,nonexistent,-2.9,92.963,-40.8,1.260,5076.2,3.091042,8642.119369
17,27341,42,services,single,high.school,no,no,no,cellular,may,...,999,0,nonexistent,-1.8,92.893,-46.2,1.327,5099.1,3.737670,8629.109449
18,37077,31,entrepreneur,married,professional.course,no,yes,no,telephone,jun,...,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,3.433987,8923.636225
19,29414,33,self-employed,married,university.degree,no,yes,no,cellular,jul,...,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,3.496508,8820.590724

In [0]:
X_train.head(10)

In [350]:
X_train.shape

(30891, 20)

In [0]:
import numpy as np
train_features['lnage'] = (train_features['age'] -20) **2
test_features['lnage'] = (test_features['age'] -20) **2
train_features['cs^2'] = train_features['cons.price.idx'] ** 1.5
test_features['cs^2'] = test_features['cons.price.idx'] ** 1.5
train_features['cc^3'] = train_features['cons.conf.idx'] ** 3

In [0]:
y_train = train_labels['y']
X_train = train_features.drop(columns=['id', 'cs^2', 'lnage'])
X_test  = test_features.drop(columns=['id', 'cs^2', 'lnage'] )

In [590]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train)
X_train.shape, X_val.shape, y_train.shape, y_val.shape

((5497, 20), (1833, 20), (5497,), (1833,))

In [589]:
import category_encoders as ce

pipeline = make_pipeline(
    ce.OneHotEncoder(use_cat_names=True), 
    StandardScaler(), 
    LogisticRegression(solver='lbfgs', max_iter=1000)
)

pipeline.fit(X_train, y_train)

y_pred = pipeline.predict_proba(X_val)[:, 1]
roc_auc_score(y_val, y_pred)

0.7819321444047233

In [392]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='lbfgs', max_iter=1000)
model.fit(X_train_numeric, y_train)

y_pred = model.predict(X_val_numeric)
roc_auc_score(y_val, y_pred)

0.5

In [0]:
X_train_numeric = X_train.select_dtypes(np.number)
X_val_numeric = X_val.select_dtypes(np.number)

In [225]:
from sklearn.exceptions import DataConversionWarning
from sklearn.preprocessing import StandardScaler
import warnings
warnings.filterwarnings(action='ignore', category=DataConversionWarning)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_numeric)
X_val_scaled = scaler.transform(X_val_numeric)

model = LogisticRegression(solver='lbfgs', max_iter=1000)
model.fit(X_train_numeric, y_train)

y_pred = model.predict(X_val_scaled)
roc_auc_score(y_val, y_pred)

0.5045042283857134

In [0]:
y_train = np.random.choice(y_train, size= 7723)

In [227]:
X_train = np.random.choice(X_train, size= 7723)

ValueError: ignored

In [0]:
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import cross_val_predict
y_pred_proba = cross_val_predict(pipeline, X_train, y_train, cv=3, n_jobs=-1, 
                                 method='predict_proba')[:, 1]

In [0]:
threshold = .81
y_pred = y_pred_proba >= threshold
y_pred = np.random.choice(y_pred, size=7723)

In [222]:
print(classification_report(y_val, y_pred))

              precision    recall  f1-score   support

           0       0.89      1.00      0.94      6876
           1       0.12      0.00      0.01       847

   micro avg       0.89      0.89      0.89      7723
   macro avg       0.51      0.50      0.47      7723
weighted avg       0.81      0.89      0.84      7723

In [313]:
y_pred.shape

(5792,)

In [0]:
#########################################################################################

In [272]:
roc_auc_score(y_val, y_pred)

0.5184291595197257

In [0]:
accuracy_score(y_val, y_pred)

In [371]:
X_train.shape

(23168, 20)

In [370]:
X_val.shape

(7723, 20)

In [0]:
submission = sample_submission.copy()

In [0]:
submission

In [382]:
y_train.shape

(23168,)

In [0]:
submission['y'] = pipeline.predict_proba(X_test)[:, 1]

In [397]:
submission.shape

(10297, 2)

In [0]:
submission

In [0]:
submission1.to_csv('submission2.csv', index=False)

In [0]:
submission['y'] = pipeline.predict_proba(X_test)[:, 1:]

In [0]:
submission.to_csv('Submission2.csv', index=False)

In [0]:
!cp Submission2.csv drive/My\ Drive/