<a href="https://colab.research.google.com/github/audreyakwenye/DS-Unit-2-Sprint-4-Model-Validation/blob/master/Kaggle_Comp_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install featuretools

In [0]:
import featuretools as ft
import numpy as np
import pandas as pd

test_features = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQenhVhjm4qtmrTNBjDOmc-OBH3R2C2aSEt2zcc_vi8UrK_PC2UE5z3yoFSL2jlusX1WYBVioGcFCRQ/pub?gid=922169319&single=true&output=csv')
train_features = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vTp3w9_zUi31NNzZ0CFrYwlfyS7WwD_mBkGgwWQksXjWhHrqtOWz4DbzkXRqxfkBPMwbcrIY6Ui48zW/pub?gid=326426838&single=true&output=csv')
train_labels = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQOAUDuQIIo4iklp8ZJzJIH2VF_IDL4e1Li_7xg-59ilmh1YhoXU3ymu6tB6EzQUr48dXTzroalfmIQ/pub?gid=26275048&single=true&output=csv')

In [0]:
train_features.funder = train_features['funder'].fillna(train_features['funder'].mode()[0])
train_features.funder.mode()

0    Government Of Tanzania
dtype: object

In [0]:
train_features.installer = train_features['installer'].fillna(train_features['installer'].mode()[0])
train_features.installer.mode()

0    DWE
dtype: object

668.1470176767677

0

In [0]:
train_features = train_features[['amount_tsh', 'funder', 'installer', 'date_recorded', 'gps_height',
       'basin', 'district_code',
       'population', 'public_meeting',
       'permit', 'construction_year',
       'extraction_type_class',
       'payment_type',
       'quality_group','quantity_group',
       'source_type', 'source_class',
       'waterpoint_type_group']]

In [0]:
from sklearn.preprocessing import LabelEncoder
#Auto encodes any dataframe column of type category or object.
def dummyEncode(df):
        columnsToEncode = list(df.select_dtypes(include=['category','object']))
        le = LabelEncoder()
        for feature in columnsToEncode:
            try:
                df[feature] = le.fit_transform(df[feature])
            except:
                print('Error encoding '+feature)
        return df

      
      
     
dummyEncode(train_features)

,amount_tsh,funder,installer,date_recorded,gps_height,basin,district_code,population,public_meeting,permit,construction_year,extraction_type_class,payment_type,quality_group,quantity_group,source_type,source_class,waterpoint_type_group
0,6000.0,1369,1518,47,1390,1,5,109,2,0,6000,0,0,2,1,6,0,1
1,0.0,469,545,309,1399,4,2,280,0,1,500,0,2,2,2,3,1,1
2,25.0,825,2048,300,686,5,4,250,2,1,25,0,5,2,1,1,1,1
3,0.0,1741,1852,272,263,7,63,58,2,1,500,5,2,2,0,0,0,1
4,0.0,20,119,104,1018,4,1,0,2,1,500,0,2,2,3,3,1,1
5,20.0,985,390,46,1018,5,8,1,2,1,20,5,5,4,1,2,2,1
6,0.0,345,401,186,1018,0,3,0,2,1,500,1,2,2,1,0,0,3
7,0.0,1416,390,194,1018,3,3,0,2,1,500,1,6,3,1,5,0,3
8,0.0,1842,2007,219,1018,3,6,0,2,1,500,1,2,4,3,0,0,3
9,0.0,593,119,125,1018,4,1,0,2,1,500,1,2,2,1,5,0,3
10,0.0,1270,1406,25,62,8,43,345,2,0,500,5,2,4,1,0,0,5
11,200.0,261,337,293,1062,1,5,250,2,0,200,1,3,2,2,5,0,3
12,0.0,1867,2048,199,1018,0,2,0,2,0,500,1,4,2,1,5,0,3
13,0.0,780,937,318,1368,5,7,1,2,1,500,0,1,2,1,6,0,1
14,0.0,114,1956,205,1018,0,6,0,2,1,500,1,2,2,1,5,0,3
15,0.0,1393,390,126,1645,3,2,200,2,0,500,1,2,2,1,0,0,3
16,500.0,1741,390,95,1703,6,4,35,2,1,500,0,1,2,0,4,1,1
17,0.0,1741,390,155,1656,6,4,50,2,1,500,0,3,2,0,4,1,1
18,0.0,513,390,113,1162,4,1,1000,0,1,500,3,2,3,2,6,0,5
19,500.0,261,406,27,1763,1,5,1,2,1,500,0,0,2,1,6,0,1
20,200.0,1712,1777,32,2216,1,4,4,2,0,200,0,1,2,1,6,0,1
21,0.0,345,390,285,1018,4,1,0,0,0,500,1,6,5,4,5,0,3
22,0.0,1741,390,177,1510,6,4,350,2,1,500,0,2,2,1,4,1,1
23,500.0,588,678,352,672,5,3,210,2,1,500,0,1,2,1,4,1,1
24,0.0,39,390,265,1645,3,3,156,1,1,500,0,6,2,1,6,0,4
25,0.0,456,390,300,1273,5,4,140,2,1,500,0,6,2,1,6,0,1
26,500.0,1534,881,260,200,7,23,260,1,0,500,1,1,2,1,0,0,3
27,0.0,513,390,102,1018,4,1,0,2,1,500,1,2,2,1,5,0,3
28,0.0,456,425,308,1443,5,1,1,2,1,500,0,1,2,2,6,0,1
29,0.0,780,937,319,1256,5,7,1,2,1,500,0,1,2,1,6,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59370,200.0,456,390,273,1154,3,2,1,2,0,200,3,1,5,4,2,2,5
59371,0.0,1122,390,194,1018,4,2,0,2,0,500,1,2,2,1,5,0,3
59372,0.0,1679,1750,216,1018,3,4,0,2,1,500,3,5,4,2,5,0,5
59373,5000.0,1393,417,274,1137,2,1,96,2,1,5000,1,0,2,1,0,0,3
59374,0.0,1416,390,214,1018,4,1,0,2,0,500,1,4,2,1,5,0,3
59375,40000.0,456,390,125,54,5,4,609,2,1,40000,0,1,2,1,4,1,1
59376,0.0,456,390,278,1581,0,2,1,2,2,500,3,6,5,0,5,0,5
59377,0.0,456,571,208,1018,0,2,0,2,0,500,0,2,2,2,1,1,1
59378,500.0,1318,10,54,2101,6,4,36,2,1,500,0,1,2,1,6,0,1
59379,0.0,313,379,104,1018,4,3,0,2,1,500,0,2,2,1,6,0,1
59380,6000.0,1369,1518,47,1439,1,5,50,2,0,6000,0,0,2,0,6,0,1
59381,0.0,985,390,49,1018,5,8,360,2,1,500,0,2,2,2,6,0,1
59382,6.0,180,390,346,1383,5,4,1,2,1,6,0,5,2,1,6,0,1
59383,0.0,1865,2046,263,11,7,62,800,2,1,500,1,6,2,1,3,1,3
59384,0.0,230,239,101,1018,4,30,0,2,0,500,0,2,2,2,6,0,1
59385,500.0,608,724,219,1327,4,4,200,2,1,500,1,1,4,1,0,0,3
59386,0.0,22,390,144,1786,2,2,1000,2,0,500,1,2,2,1,0,0,3
59387,100.0,0,1,315,25,8,2,100,0,0,100,5,5,2,1,0,0,1
59388,0.0,694,390,273,1414,3,1,500,2,1,500,0,6,2,2,6,0,4
59389,0.0,212,390,128,783,3,3,1500,1,0,500,1,2,2,1,0,0,3
59390,0.0,1393,390,126,1715,3,2,150,2,0,500,1,2,2,2,0,0,3
59391,0.0,456,571,346,540,5,3,210,2,1,500,0,2,2,1,4,1,1
59392,0.0,456,571,79,1018,2,1,0,2,1,500,0,2,2,1,6,0,1
59393,0.0,1270,1406,212,1018,0,2,0,1,0,500,0,5,2,2,1,1,5
59394,500.0,1865,1027,42,351,8,6,89,2,1,500,5,1,2,1,0,0,1
59395,10.0,436,201,338,1210,5,5,125,2,1,10,0,5,2,1,6,0,1
59396,4700.0,177,265,90,1212,6,4,56,2,1,4700,0,0,2,1,4,1,1
59397,0.0,456,390,75,1018,6,7,0,2,0,500,1,1,1,1,0,0,3
59398,0.0,884,1213,41,1018,6,4,0,2,1,500,1,2,2,2,5,0,3
59399,0.0,1865,2040,56,191,8,2,150,2,1,500,1,3,4,1,5,0,3

0    Government Of Tanzania
dtype: object

0    DWE
dtype: object

In [0]:
test_features2 = test_features[['amount_tsh', 'funder', 'installer', 'date_recorded', 'gps_height',
       'basin', 'district_code',
       'population', 'public_meeting',
       'permit', 'construction_year',
       'extraction_type_class',
       'payment_type',
       'quality_group','quantity_group',
       'source_type', 'source_class',
       'waterpoint_type_group']]

In [0]:
!pip install category_encoders

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/f7/d3/82a4b85a87ece114f6d0139d643580c726efa45fa4db3b81aed38c0156c5/category_encoders-1.3.0-py2.py3-none-any.whl (61kB)
    100% || 61kB 2.5MB/s
Requirement already satisfied: numpy>=1.11.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.14.6)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: pandas>=0.20.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.22.0)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.1.0)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.8.0)
Requirement already satisfied: scikit-learn>=0.17.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.20.2)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.4.1->category_encoders) (1.11.0)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.20.1->category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.20.1->category_encoders) (2.5.3)
Installing collected packages: category-encoders
Successfully installed category-encoders-1.3.0

In [0]:
import category_encoders as ce

In [0]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
#Auto encodes any dataframe column of type category or object.
def dummyEncode(df):
        columnsToEncode = list(df.select_dtypes(include=['category','object']))
        le = LabelEncoder()
        for feature in columnsToEncode:
            try:
                df[feature] = le.fit_transform(df[feature])
            except:
                print('Error encoding '+feature)
        return df


dummyEncode(test_features2)

,amount_tsh,funder,installer,date_recorded,gps_height,basin,district_code,population,public_meeting,permit,construction_year,extraction_type_class,payment_type,quality_group,quantity_group,source_type,source_class,waterpoint_type_group
0,0.0,174,214,255,1996,0,3,321,2,2,2012,3,2,2,3,3,1,5
1,0.0,247,219,255,1569,5,2,300,2,2,2000,0,2,2,2,6,0,1
2,0.0,247,219,252,1567,0,2,500,2,0,2010,3,2,2,2,3,1,5
3,0.0,220,259,242,267,7,43,250,0,2,1987,3,6,2,0,5,0,5
4,500.0,72,75,306,1260,7,3,60,0,2,2000,0,1,2,1,6,0,1
5,0.0,247,219,283,1685,5,2,200,2,2,1990,0,2,2,1,6,0,1
6,0.0,247,299,34,550,6,7,600,2,2,2007,1,2,4,1,0,0,3
7,0.0,221,270,245,234,7,4,1,2,2,1982,5,2,2,0,0,0,1
8,30.0,872,465,243,584,7,33,40,2,1,1997,0,5,2,2,6,0,1
9,0.0,409,479,297,1083,5,7,1,2,2,2003,0,1,2,1,6,0,1
10,5.0,241,104,326,1259,5,5,75,2,2,2006,0,5,2,1,6,0,1
11,0.0,945,1034,278,608,5,4,500,2,2,2002,3,2,2,0,3,1,5
12,0.0,943,90,174,0,0,2,0,2,2,0,2,6,2,0,0,0,1
13,0.0,498,219,118,0,4,4,0,2,2,0,2,5,2,1,0,0,1
14,1200.0,144,219,316,916,7,2,0,2,2,1989,0,0,2,1,4,1,1
15,0.0,247,219,28,-39,6,6,900,2,1,0,1,2,2,1,5,0,3
16,200.0,247,219,43,1793,5,1,1,2,2,1978,0,1,2,1,6,0,1
17,0.0,221,270,253,368,7,4,300,2,2,1982,5,2,2,0,0,0,1
18,0.0,0,0,291,-27,8,3,120,2,1,2010,5,2,2,1,0,0,1
19,0.0,184,219,39,1674,6,4,30,2,1,2008,0,2,2,2,6,0,1
20,0.0,814,219,255,1087,3,3,1750,2,2,2005,3,6,3,1,5,0,5
21,0.0,247,219,260,1441,0,2,1,2,0,1970,2,6,5,0,0,0,1
22,0.0,540,219,170,0,4,2,0,2,1,0,1,2,2,1,5,0,3
23,200.0,855,219,27,1726,6,4,50,2,1,2008,0,1,2,1,6,0,1
24,0.0,239,219,269,986,7,2,0,2,2,2009,0,2,2,0,4,1,1
25,0.0,918,543,73,0,8,5,0,2,1,0,2,5,4,0,0,0,1
26,0.0,187,219,255,0,4,1,0,2,1,0,1,3,4,1,5,0,3
27,0.0,58,72,271,1309,0,5,860,2,1,2002,0,2,2,3,3,1,1
28,5.0,646,237,330,1564,0,30,200,2,2,2002,0,5,2,1,4,1,1
29,0.0,247,219,192,0,0,1,0,1,2,0,2,2,2,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14328,500.0,279,339,188,1523,4,2,600,2,0,1994,4,1,2,1,5,0,3
14329,0.0,153,202,247,265,7,3,749,2,1,2001,0,2,2,3,3,1,1
14330,5.0,92,219,308,1322,5,4,45,2,2,2007,0,5,2,1,4,1,1
14331,50.0,416,465,242,640,7,33,360,2,1,1997,0,5,2,2,6,0,1
14332,0.0,638,701,83,574,8,1,250,2,2,2008,1,2,2,2,5,0,3
14333,0.0,213,255,253,331,7,63,89,2,2,1978,1,2,2,2,0,0,3
14334,0.0,945,1034,187,0,3,5,0,0,2,0,1,6,2,1,5,0,3
14335,0.0,279,314,112,0,4,7,0,2,2,0,1,0,2,1,5,0,3
14336,50.0,643,705,24,78,8,43,70,1,1,0,3,5,4,1,0,0,5
14337,0.0,247,300,224,836,7,3,80,0,2,2005,0,6,2,1,6,0,1
14338,0.0,823,860,298,1651,5,3,150,2,2,1996,0,2,2,2,6,0,1
14339,0.0,279,219,189,0,4,2,0,2,2,0,1,2,4,1,5,0,3
14340,0.0,380,406,304,1393,5,7,260,2,1,2001,5,6,1,1,0,0,1
14341,1000.0,380,167,37,1729,1,3,0,2,1,2003,0,0,2,1,6,0,1
14342,0.0,376,219,59,0,0,1,0,2,1,0,0,1,2,2,6,0,1
14343,0.0,715,219,245,0,3,3,0,2,2,0,1,6,2,1,5,0,3
14344,0.0,33,28,50,-7,6,4,40,2,1,2009,1,2,2,1,5,0,3
14345,500.0,814,852,261,1241,3,2,780,2,1,2010,1,0,2,1,0,0,3
14346,3000.0,380,167,43,2046,1,3,0,2,1,1986,0,0,2,1,6,0,1
14347,0.0,161,494,43,347,5,2,300,2,1,2005,0,2,2,2,6,0,1
14348,0.0,902,965,275,1291,1,2,0,2,2,2009,0,2,2,1,4,1,1
14349,0.0,187,219,189,0,4,1,0,0,1,0,1,6,2,1,5,0,3
14350,600.0,317,219,247,808,3,3,230,2,2,2009,0,1,2,1,4,1,1
14351,0.0,612,668,255,1641,3,2,1400,2,1,1995,3,2,2,1,6,0,5
14352,0.0,572,219,201,0,4,2,0,2,1,0,1,4,2,1,5,0,3
14353,0.0,144,224,28,34,8,1,20,2,2,1988,2,2,2,1,4,1,1
14354,1000.0,283,315,53,0,5,7,2960,2,1,1994,1,0,4,2,5,0,3
14355,0.0,247,219,283,1476,0,2,200,2,0,2010,0,2,2,2,1,1,1
14356,0.0,239,219,269,998,1,2,150,2,2,2009,0,2,2,2,4,1,1
14357,0.0,247,300,264,481,1,3,40,2,2,2008,0,2,2,0,6,0,1

In [0]:


X = train_features
X_test = test_features2
y = train_labels['status_group']

In [0]:
from sklearn.feature_extraction.text import CountVectorizer

vec = CountVectorizer()

X = vec.fit_transform(X)

AttributeError: ignored

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X,y, test_size=.3, random_state = 0)
X_train.shape, X_val.shape, y_train.shape, y_val.shape

((41580, 18), (17820, 18), (41580,), (17820,))

In [0]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
from sklearn.feature_extraction.text import CountVectorizer

rfc = RandomForestClassifier(n_estimators=1000,
                             min_samples_split=6,
                             criterion='gini',
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)

rfc.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=6,
            min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=-1,
            oob_score=True, random_state=1, verbose=0, warm_start=False)

In [0]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
from sklearn.feature_extraction.text import CountVectorizer

ETC = ExtraTreesClassifier(n_estimators=1000,
                         min_samples_split=10)

ETC.fit(X_train, y_train)

ExtraTreesClassifier(bootstrap=False, class_weight=None, criterion='gini',
           max_depth=None, max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=10,
           min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [0]:
y_pred = ETC.predict(X_test)

ValueError: ignored

In [0]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline 
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import RobustScaler

In [0]:
predictions = pd.DataFrame(data={'id': test_features['id'], 'status_group': y_pred})

ValueError: ignored

In [0]:
from google.colab import files
predictions.to_csv('kaggleten.csv', index=False)
files.download('kaggleten.csv')

In [0]:
from sklearn.model_selection import cross_val_score
from sklearn.datasets import make_blobs
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.metrics import mean_squared_error
from math import sqrt

In [0]:
accuracy_score(y_val, y_pred)

0.8026936026936027

In [0]:
y_pred = clf.predict(X_val)

ValueError: ignored