# The following data is a copy of the steam database from 1/28/2019
It was scraped with python, fed as a sqlite db into a csv converter, and processed for analysis

In [88]:
import numpy as np
import pandas as pd

In [89]:
df = pd.read_csv('games.csv', error_bad_lines=False, sep=';')

b'Skipping line 17337: expected 17 fields, saw 31\n'

In [90]:
df.shape

(258992, 17)

In [91]:
df.head()

,Game_ID,Game_Name,Type,Adult,FTP,Game_ID.1,Description,About,Short_Description,Price,Reccomendations,Date,Screenshots,Movie,Achievments,Released,Ratings
0,10,Counter-Strike,game,0,0,NaN,Play the world's number 1 online action game. ...,Play the world's number 1 online action game. ...,Play the world's number 1 online action game. ...,999.0,63125.0,2000-11-01,13.0,0.0,0.0,1.0,96.0
1,20,Team Fortress Classic,game,0,0,NaN,One of the most popular online action games of...,One of the most popular online action games of...,One of the most popular online action games of...,499.0,2672.0,1999-04-01,5.0,0.0,0.0,1.0,81.0
2,30,Day of Defeat,game,0,0,NaN,Enlist in an intense brand of Axis vs. Allied ...,Enlist in an intense brand of Axis vs. Allied ...,Enlist in an intense brand of Axis vs. Allied ...,499.0,1923.0,2003-05-01,5.0,0.0,0.0,1.0,86.0
3,40,Deathmatch Classic,game,0,0,NaN,Enjoy fast-paced multiplayer gaming with Death...,Enjoy fast-paced multiplayer gaming with Death...,Enjoy fast-paced multiplayer gaming with Death...,499.0,896.0,2001-06-01,4.0,0.0,0.0,1.0,80.0
4,50,Half-Life: Opposing Force,game,0,0,NaN,Return to the Black Mesa Research Facility as ...,Return to the Black Mesa Research Facility as ...,Return to the Black Mesa Research Facility as ...,499.0,4127.0,1999-11-01,5.0,0.0,0.0,1.0,94.0

In [92]:
df['Price'] = df['Price'] / 100

In [93]:
df.head()

,Game_ID,Game_Name,Type,Adult,FTP,Game_ID.1,Description,About,Short_Description,Price,Reccomendations,Date,Screenshots,Movie,Achievments,Released,Ratings
0,10,Counter-Strike,game,0,0,NaN,Play the world's number 1 online action game. ...,Play the world's number 1 online action game. ...,Play the world's number 1 online action game. ...,9.99,63125.0,2000-11-01,13.0,0.0,0.0,1.0,96.0
1,20,Team Fortress Classic,game,0,0,NaN,One of the most popular online action games of...,One of the most popular online action games of...,One of the most popular online action games of...,4.99,2672.0,1999-04-01,5.0,0.0,0.0,1.0,81.0
2,30,Day of Defeat,game,0,0,NaN,Enlist in an intense brand of Axis vs. Allied ...,Enlist in an intense brand of Axis vs. Allied ...,Enlist in an intense brand of Axis vs. Allied ...,4.99,1923.0,2003-05-01,5.0,0.0,0.0,1.0,86.0
3,40,Deathmatch Classic,game,0,0,NaN,Enjoy fast-paced multiplayer gaming with Death...,Enjoy fast-paced multiplayer gaming with Death...,Enjoy fast-paced multiplayer gaming with Death...,4.99,896.0,2001-06-01,4.0,0.0,0.0,1.0,80.0
4,50,Half-Life: Opposing Force,game,0,0,NaN,Return to the Black Mesa Research Facility as ...,Return to the Black Mesa Research Facility as ...,Return to the Black Mesa Research Facility as ...,4.99,4127.0,1999-11-01,5.0,0.0,0.0,1.0,94.0

In [94]:
df2 = pd.read_csv('genre_count.csv', error_bad_lines=False, sep=';')
df3 = pd.read_csv('unique_devs.csv', error_bad_lines=False, sep=';')
df4 = pd.read_csv('hidden_games.csv', error_bad_lines=False, sep=';')
df5 = pd.read_csv('publishers.csv', error_bad_lines=False, sep=';')
df6 = pd.read_csv('metacritic_scores.csv', error_bad_lines=False, sep=';')

In [95]:
df_final = pd.concat([df, df2, df3, df4, df5, df6], ignore_index=True)

C:\ProgramData\Anaconda3\envs\Data_Science_Learning\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [96]:
df_final.head()

,About,Achievments,Adult,Date,Description,Developer,FTP,Game_ID,Game_ID.1,Game_Name,...,Metacritic_URL,Movie,Price,Publisher,Ratings,Reccomendations,Released,Screenshots,Short_Description,Type
0,Play the world's number 1 online action game. ...,0.0,0,2000-11-01,Play the world's number 1 online action game. ...,NaN,0,10,NaN,Counter-Strike,...,NaN,0.0,9.99,NaN,96.0,63125.0,1.0,13.0,Play the world's number 1 online action game. ...,game
1,One of the most popular online action games of...,0.0,0,1999-04-01,One of the most popular online action games of...,NaN,0,20,NaN,Team Fortress Classic,...,NaN,0.0,4.99,NaN,81.0,2672.0,1.0,5.0,One of the most popular online action games of...,game
2,Enlist in an intense brand of Axis vs. Allied ...,0.0,0,2003-05-01,Enlist in an intense brand of Axis vs. Allied ...,NaN,0,30,NaN,Day of Defeat,...,NaN,0.0,4.99,NaN,86.0,1923.0,1.0,5.0,Enlist in an intense brand of Axis vs. Allied ...,game
3,Enjoy fast-paced multiplayer gaming with Death...,0.0,0,2001-06-01,Enjoy fast-paced multiplayer gaming with Death...,NaN,0,40,NaN,Deathmatch Classic,...,NaN,0.0,4.99,NaN,80.0,896.0,1.0,4.0,Enjoy fast-paced multiplayer gaming with Death...,game
4,Return to the Black Mesa Research Facility as ...,0.0,0,1999-11-01,Return to the Black Mesa Research Facility as ...,NaN,0,50,NaN,Half-Life: Opposing Force,...,NaN,0.0,4.99,NaN,94.0,4127.0,1.0,5.0,Return to the Black Mesa Research Facility as ...,game

In [97]:
df_final.isna().sum()

About                484106
Achievments          483877
Adult                463343
Date                 485234
Description          474024
Developer            478502
FTP                  463430
Game_ID               21247
Game_ID.1            497705
Game_Name            453318
Genre                396879
Metacritic_Rating    534412
Metacritic_URL       533998
Movie                483877
Price                483536
Publisher            471370
Ratings              534713
Reccomendations      483875
Released             484118
Screenshots          483877
Short_Description    476309
Type                 463342
dtype: int64

In [98]:
df_final.dtypes

About                 object
Achievments          float64
Adult                 object
Date                  object
Description           object
Developer             object
FTP                   object
Game_ID               object
Game_ID.1             object
Game_Name             object
Genre                 object
Metacritic_Rating     object
Metacritic_URL       float64
Movie                float64
Price                float64
Publisher             object
Ratings              float64
Reccomendations      float64
Released             float64
Screenshots          float64
Short_Description     object
Type                  object
dtype: object