In [8]:
import pandas as pd
import numpy as np

#
#https://www.drivendata.org/competitions/1/united-nations-millennium-development-goals/submissions/
daturl = 'data/TrainingSet.csv'
submission_url = 'data/SubmissionRows.csv'
# evaluation metric: Root-mean-square Error 

def column_name_lamb(s): 
    if s=='Unnamed: 0':
        return 'Idx'
    elif s[0:3].isdigit():
        return int(s.split(' ')[0])
    else: return s.replace(' ', '_')

submission = (pd.read_csv(submission_url)
              .rename(mapper=column_name_lamb, axis=1))
df_ = (pd.read_csv(daturl)
       .rename(mapper=column_name_lamb, axis=1)
       .drop('Idx', axis=1)
       .reset_index())

df_.head()

,index,1972,1973,1974,1975,1976,1977,1978,1979,1980,...,2001,2002,2003,2004,2005,2006,2007,Country_Name,Series_Code,Series_Name
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.769214,Afghanistan,allsi.bi_q1,(%) Benefits held by 1st 20% population - All ...
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7.027746,Afghanistan,allsp.bi_q1,(%) Benefits held by 1st 20% population - All ...
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,8.244887,Afghanistan,allsa.bi_q1,(%) Benefits held by 1st 20% population - All ...
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12.933105,Afghanistan,allsi.gen_pop,(%) Generosity of All Social Insurance
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,18.996814,Afghanistan,allsp.gen_pop,(%) Generosity of All Social Protection

In [10]:
submission.head()

df_.T[list(submission.Idx[:40])].T.head()

,index,1972,1973,1974,1975,1976,1977,1978,1979,1980,...,2001,2002,2003,2004,2005,2006,2007,Country_Name,Series_Code,Series_Name
559,559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,47,52,62,95,96,95,84,Afghanistan,SH.VAC.TTNS.ZS,Newborns protected against tetanus (%)
618,618,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,0,Afghanistan,DT.DOD.PBND.CD,"PPG, bonds (DOD, current US$)"
753,753,NaN,9.74677,25.6681,NaN,NaN,21.5604,22.2272,NaN,15.2736,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,SE.SEC.REPT.FE.ZS,"Repeaters, secondary, female (% of female enro..."
1030,1030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3,3,NaN,Albania,IQ.CPA.ENVR.XQ,CPIA policy and institutions for environmental...
1896,1896,26.9,NaN,NaN,NaN,NaN,26.9,NaN,NaN,NaN,...,NaN,26.9,NaN,NaN,NaN,NaN,26.9,Albania,ER.H2O.INTR.K3,"Renewable internal freshwater resources, total..."

In [5]:
submission.Idx.shape, df_.shape

#df_[(df_.index in submission.Idx.array)]

list(df_.index)

list(submission.Idx)

[559,
 618,
 753,
 1030,
 1896,
 1955,
 2090,
 2690,
 3233,
 3292,
 3427,
 5966,
 6101,
 7244,
 7303,
 7438,
 7715,
 8038,
 8581,
 8640,
 8775,
 9918,
 9977,
 10112,
 10389,
 11255,
 11314,
 11449,
 11726,
 12592,
 12651,
 13386,
 13988,
 14123,
 15325,
 15460,
 16060,
 16603,
 16662,
 16797,
 17074,
 17940,
 17999,
 18134,
 18411,
 19336,
 19471,
 20614,
 20673,
 20808,
 21085,
 21951,
 22010,
 22145,
 22422,
 23288,
 23347,
 23435,
 23482,
 23759,
 24082,
 24684,
 24819,
 25419,
 25962,
 26021,
 26156,
 26433,
 27299,
 27358,
 27493,
 27770,
 28695,
 29973,
 30032,
 30167,
 30444,
 31310,
 31369,
 31504,
 31781,
 32647,
 32706,
 32841,
 33984,
 34043,
 34178,
 34455,
 35321,
 35380,
 35515,
 36717,
 36852,
 37452,
 37995,
 38054,
 38189,
 38789,
 39332,
 39391,
 39526,
 39803,
 40669,
 40728,
 40863,
 41140,
 41463,
 42006,
 42065,
 42200,
 42477,
 42800,
 43343,
 43402,
 43537,
 43814,
 44680,
 44739,
 44874,
 45151,
 46017,
 46076,
 46211,
 47354,
 47413,
 48148,
 48691,
 48750,
 48885,
 50028,
 50087,
 50222,
 50499,
 52159,
 52702,
 52761,
 52896,
 53173,
 54039,
 54098,
 54186,
 54233,
 54833,
 55376,
 55435,
 55570,
 55847,
 56772,
 56907,
 57184,
 58050,
 58109,
 58244,
 58521,
 59387,
 59446,
 59581,
 59858,
 60724,
 60783,
 60918,
 61195,
 62061,
 62120,
 62255,
 62532,
 62855,
 63398,
 63457,
 63592,
 64192,
 64735,
 64794,
 64882,
 64929,
 65206,
 66866,
 67468,
 67603,
 68746,
 68805,
 68940,
 69540,
 70142,
 70277,
 71420,
 71479,
 71614,
 71891,
 72816,
 72951,
 73551,
 74094,
 74153,
 74288,
 74565,
 75431,
 75490,
 75625,
 75902,
 76768,
 76827,
 76962,
 77239,
 77562,
 78105,
 78164,
 78299,
 78576,
 79501,
 79636,
 79913,
 80236,
 80838,
 80973,
 81250,
 81573,
 82116,
 82175,
 82310,
 83453,
 83512,
 83647,
 83924,
 84849,
 85584,
 86127,
 86186,
 86321,
 86598,
 86921,
 87523,
 87658,
 88258,
 88860,
 88995,
 90197,
 91475,
 91534,
 91669,
 91946,
 92269,
 92812,
 92871,
 93006,
 93283,
 94149,
 94208,
 94343,
 94620,
 94943,
 95545,
 95680,
 96280,
 96823,
 96882,
 97017,
 97294,
 98160,
 98219,
 98354,
 99556,
 100834,
 100893,
 101028,
 102171,
 102230,
 103508,
 103567,
 103702,
 103979,
 104302,
 104845,
 104904,
 105039,
 105316,
 105595,
 106182,
 106241,
 106376,
 106653,
 107519,
 107578,
 107713,
 107990,
 108856,
 108915,
 109050,
 109327,
 109650,
 110193,
 110252,
 110387,
 110664,
 110987,
 111589,
 112324,
 112926,
 113061,
 114263,
 114398,
 115541,
 115600,
 115735,
 116012,
 116335,
 116878,
 116937,
 117072,
 117349,
 118215,
 118274,
 118409,
 118686,
 119552,
 119611,
 119746,
 120346,
 120889,
 120948,
 121083,
 123622,
 123757,
 124959,
 125094,
 126237,
 126296,
 126431,
 126708,
 127031,
 127633,
 127768,
 128368,
 128911,
 128970,
 129105,
 129705,
 130248,
 130307,
 130442,
 131585,
 131644,
 131779,
 132056,
 132922,
 132981,
 133116,
 134259,
 134453,
 135053,
 135596,
 135655,
 135790,
 138270,
 138329,
 138464,
 139064,
 139607,
 139666,
 139801,
 140078,
 140401,
 140944,
 141003,
 141138,
 141415,
 142281,
 142340,
 142475,
 143075,
 143677,
 143812,
 144412,
 144955,
 145014,
 145149,
 145426,
 146292,
 146351,
 146486,
 146763,
 147823,
 149025,
 149760,
 150303,
 150362,
 150497,
 151699,
 151834,
 153036,
 153771,
 154314,
 154373,
 154508,
 155651,
 155710,
 155845,
 156122,
 156988,
 157047,
 157182,
 157459,
 158325,
 158384,
 158519,
 158796,
 159662,
 159721,
 159856,
 160133,
 160999,
 161058,
 161193,
 161470,
 162395,
 162530,
 163673,
 163732,
 163867,
 164467,
 165010,
 165069,
 165204,
 165481,
 165804,
 166347,
 166406,
 166541,
 166818,
 167141,
 167684,
 167743,
 167878,
 168155,
 169021,
 169080,
 169215,
 169815,
 170358,
 170417,
 170505,
 170552,
 170829,
 171754,
 171889,
 172489,
 173032,
 173091,
 173226,
 173503,
 173826,
 174369,
 174428,
 174563,
 175163,
 175706,
 175765,
 175900,
 176177,
 176500,
 177043,
 177102,
 177237,
 177514,
 178380,
 178439,
 178574,
 178851,
 179174,
 179717,
 179776,
 179911,
 180188,
 181054,
 181113,
 181248,
 181525,
 181848,
 182450,
 182585,
 183728,
 183787,
 184522,
 185124,
 185259,
 186402,
 186461,
 186596,
 186873,
 187196,
 187739,
 187798,
 187933,
 188210,
 189076,
 189135,
 189270,
 189547,
 190413,
 191207,
 191809,
 191944,
 193087,
 193146,
 193281,
 193881,
 194424,
 194483,
 194618,
 194895,
 195955,
 196555,
 197098,
 197157,
 197292,
 197569,
 198435,
 198494,
 198629,
 198906,
 199772,
 199831,
 199966,
 200243,
 201109,
 201168,
 201303,
 201580,
 202446,
 202505,
 202640,
 202917,
 203240,
 203842,
 203977,
 205120,
 205179,
 205314,
 206516,
 207853,
 207988,
 208588,
 209190,
 209325,
 209925,
 210468,
 210527,
 210662,
 211805,
 211864,
 211999,
 212276,
 213142,
 213201,
 213336,
 214538,
 214673,
 215816,
 215875,
 216010,
 216287,
 217153,
 217212,
 217347,
 217947,
 218490,
 218549,
 218684,
 218961,
 219284,
 219827,
 219886,
 220021,
 221164,
 221223,
 221358,
 222501,
 222560,
 222695,
 222972,
 223897,
 224032,
 226571,
 226706,
 227306,
 227849,
 227908,
 228043,
 229186,
 229245,
 229380,
 230582,
 230717,
 230994,
 231317,
 231860,
 231919,
 232054,
 232331,
 233391,
 233668,
 233991,
 234593,
 234728,
 235328,
 235871,
 235930,
 236065,
 236342,
 236665,
 237208,
 237267,
 237402,
 238002,
 238545,
 238604,
 238739,
 240676,
 241219,
 241278,
 241413,
 242556,
 242750,
 243893,
 243952,
 244087,
 244364,
 245230,
 245289,
 245424,
 245701,
 246024,
 246626,
 246761,
 247361,
 247963,
 248098,
 249241,
 249300,
 249435,
 250035,
 250578,
 250637,
 250772,
 251049,
 251915,
 251974,
 252109,
 252386,
 253252,
 253311,
 253446,
 253723,
 254589,
 254648,
 254783,
 255926,
 255985,
 256120,
 256397,
 257263,
 257322,
 257457,
 258659,
 258794,
 259071,
 259394,
 259937,
 259996,
 260131,
 260408,
 260731,
 261274,
 261333,
 261468,
 262611,
 262670,
 262805,
 265285,
 265344,
 265479,
 266622,
 266681,
 266816,
 267093,
 267416,
 267959,
 268018,
 268153,
 268430,
 269296,
 269355,
 269490,
 270090,
 270692,
 270827,
 271427,
 271970,
 272029,
 272164,
 273307,
 273366,
 273501,
 273778,
 274644,
 274703,
 274838,
 275115,
 275981,
 276040,
 276175,
 276775,
 277377,
 277512,
 277789,
 278655,
 278714,
 278849,
 279126,
 280051,
 280786,
 281329,
 281388,
 281523,
 282666,
 282725,
 282860,
 283137,
 283460,
 284003,
 284062,
 284197,
 284474,
 285340,
 285399,
 285534,
 285811]